<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tunganh.owl_server">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app_server"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_app_server"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignIn" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity android:name=".Details.Details_list" />
        <activity android:name=".Order_status.Order_status" />

        <service
            android:name=".Service.ListenOrder"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Order_detail"></activity>
    </application>

</manifest>